@model LZZY.Net.Music.Models.AlbumListViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>删除专辑</h2>

<h3>请确定要删除此数据吗?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelfTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelfTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SingerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SingerId)
        </dd>*@

    </dl>
    <div class="col-md-offset-2">
        <img src="@Model.Website" alt="专辑封面">
    </div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("首页", "Index")
        </div>
    }
</div>
