@model IEnumerable<LZZY.Net.Music.Models.AlbumListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.AlbumId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AlbumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShelfTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.GenreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingerId)
        </th>*@
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.AlbumId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShelfTime)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Website)*@
            <img src="@item.Website" alt="专辑封面">
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.GenreId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SingerId)
        </td>*@
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.AlbumId }) |
            @Html.ActionLink("详细", "Detailed", new {  id=item.AlbumId }) |
            @Html.ActionLink("删除", "Delete", new { id = item.AlbumId })
        </td>
    </tr>
}

</table>
