@model LZZY.Net.Music.Models.ManagViewModel

@{
    ViewBag.Title = "GenreDelete";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>流派删除</h2>

<h3>确定要删除此流派吗?？</h3>
<div>
    <h4>GenreManagViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.GenreId)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.GenreId)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Describe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "GenreIndex")
        </div>
    }
</div>
