
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>@ViewData["Title"]</h1>
        <h2>@ViewData["StartDate"]</h2>
        <h2>@ViewData["Price"]</h2>
    </div>

    <div>
        <ul>
            @*ViewData["stackholder"]*@
            @foreach(var stackholder in ViewData["stackholder"]as Dictionary<string, string>)
            {
                <li>
                    @stackholder.Key @stackholder.Value
                </li>
            }
        </ul>

        <ul>
            @*ViewData["modules"]*@
            @foreach(var m in ViewData["modules"] as List<string>)
            {
                <li>
                    @m
                </li>
            }
        </ul>
    </div>

</body>
</html>
